streamlit>=1.45.0
streamlit-pdf-viewer>=0.0.26


ollama>=0.5.0


pytesseract>=0.3.13
pdf2image>=1.17.0
Pillow>=11.2.1
opencv-python>=4.11.0.86
PyMuPDF>=1.26.3

tqdm>=4.67.1


python-dotenv>=1.1.1
rapidfuzz>=3.0.0

fastapi
uvicorn[standard]
python-multipart
gunicorn